<div class="container">
        <app-timer [duration]="exam.duration" (timeup)="examEnded($event)"></app-timer>
        <div class="row top-buffer"></div>
    <div class="row">
        <div class="col-md-auto">
            Question {{currentIndex + 1}}) 
        </div>
        <div class="col-md-8">{{questions[currentIndex].body}}</div>        
      </div>
      <div class="row top-buffer"></div>

  <div class="radio" *ngFor="let answer of questions[currentIndex].answers">
      <label>
          <!-- <input type="radio" name="answer" ngModel [value]="answer.body"> -->
          <input type="radio" [(ngModel)]="questions[currentIndex].selected" [value]="answer.id"
           [checked]="questions[currentIndex].selected == answer.id"
           (ngModelChange)="chooseAnswer(answer)"
          > {{answer.body}}
      </label>
  </div>
  <div class="row top-buffer ">
        <div class="col-md-1"></div>
    <div class="col-md-3 text-align-left">
        <button (click)='previousQuestion()' [disabled]='prevFlag' style="width:100px">previous</button>
    </div>
    <div class="col-md-3 text-align-right">
        <button (click)='nextQuestion()' [disabled] ='nextFlag' style="width:100px">next</button>
    </div>
    <div class="col-md customWidth30"></div>
    <div class="col-md-3">
      <button (click)='submitExam()' style="width:100px">submit</button>
    </div>
</div>
</div>
